@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);
.ChallengeSection {
  background-color: rgba(27, 30, 33, 1);
  min-height: 100vh;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  font-family: 'Poppins', sans-serif;

  animation: BackgroundFade;
  animation-duration: 0.5s;
}

.ChallengeSection h2{
    font-family: 'Lobster';
    font-size: 30px;
}

.ChallengeSection h3{
  font-size: 20px;
}

.ChallengeSection p{
  font-size: 16px;
}


.Tutorial{
    z-index: 5;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 179, 196, 0.6);
    margin: 0;
    animation: fadeInTutorial 2s 1 ;
}

@keyframes fadeInTutorial{
    0%{ opacity: 0;
        width: 95vw}
    50%{opacity: 0;
        width: 95vw;}
    100%{opacity: 1;
        width: 100vw;}
}

@keyframes BackgroundFade{
  from{
    background-color: initial;
}
  to{
    background-color: rgba(27, 30, 33, 1);
  }
}