.Info {
    display: flex;
    flex-flow: row;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    height: min-content;
    overflow: hidden;

    transform: scaleY(1);
    transform-origin: top;

    animation: SlideDown 2s
  }

  .infoYear{
    width: 65px;
    text-align: right;
  }
  
  .infoYear h4{
    margin: 0px;  
    padding: 0px;
    margin-left: 10px;
    font-size: 13px;

  }
  
  .infoDivisor{
    margin: 0px;  
    padding: 0px;
    margin-left: 10px;
    width: 2px;
    background-color: rgb(4, 134, 164);
  
  }

  .infoText {
    width: 650px;
  }
  
  .infoText p{
    margin: 0px;  
    padding: 0px;
    margin-left: 10px;
    text-align: left;
  }

  .infoText .infoParagTitle{
    font-size: 14px;
  }

  .infoText .infoParagSubTitle{
    font-size: 14px;
  }

  .infoText .infoParagDesc{
    margin-top: 5px;
    font-size: 13px;
  }


  @keyframes SlideDown {
    0% {
        transform: scaleY(0);
        
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }

}