.NextPage{
    position: absolute;
    margin-left: 95vw;
    height: 22px;
    width: 50px;
    background-color: inherit;
    border: 2px solid rgb(177, 177, 177);
    animation: Fade 2s;
    color: rgb(177, 177, 177);
}

.NextPage p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    transition: 600ms;
}

.NextPage:hover{
    background-color: rgb(177, 177, 177);
    color: rgba(27, 30, 33, 1);
    cursor: pointer;
}

.NextPage p:after{
    font-size: 14px;
    content:'Next';
}
.NextPage p:hover:after{
    font-size: 14px;
    content:'> Next';
}

@keyframes Fade {
    0%{ opacity: 0;}
    40%{ opacity: 0;}
    100%{opacity: 1;}
}