@import url(https://fonts.googleapis.com/css?family=Inria+Serif|Lobster&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);


.SkillsPage {
    background-color: rgba(27, 30, 33, 1);
    min-height: 100vh;
    min-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  
    font-family: 'Poppins', sans-serif;
  
    animation: EnterFade;
    animation-duration: 0.5s;
}

    .SkillsPage h2{
        font-size: 30px;
    }

    .SkillsPage h3{
        font-size: 20px;
    }

    .SkillsPage p{
        font-size: 10px;
        font-family: 'Poppins';
    }


.SkillsDiv {
    margin: 0;
    border: 0;
    height: fit-content;
    width: 800px;
    /*border-radius: 2% 2% 2% 2% / 90% 90% 90% 90% ;*/
    background-color: rgb(204, 219, 208);
    color: #17191e;
    padding: 10px;
    animation: FandeAndGrowBig 1s;
    box-shadow: 0 10px 6px -6px black;
    transition: 0.3s;

    max-height: 90vh;
    overflow: scroll;
}

    .SkillsDiv:hover{
        /*border-radius: 1% 1% 1% 1% / 90% 90% 90% 90% ;*/
    }

        .SkillsInfo{
            animation: Fade 2s
        }

        .SkillsInfo p{
            font-family: 'Poppins', sans-serif;
            font-size: 13px;
        }

        



@keyframes Fade {
    0%{ opacity: 0;}
    40%{ opacity: 0;}
    100%{opacity: 1;}
}

@keyframes EnterFade{
    from { background-color: rgb(177, 177, 177);}
    to { background-color: rgba(27, 30, 33, 1);}
  }

@keyframes FandeAndGrowBig {
    from{ 
        background-color: rgba(27, 30, 33, 0);
    }
    to{
        background-color: rgb(204, 219, 208);
    }

    50% {width: 750px;}
    100% {width: 800px;}
}