@import url(https://fonts.googleapis.com/css?family=Inria+Serif|Lobster&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);


.WelcomePage{
    background-color: rgba(27, 30, 33, 1);
    min-height: 100vh;
    min-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  
    font-family: 'Poppins', sans-serif;

    animation: EnterFade;
    animation-duration: 0.5s;
}


.WelcomeDiv {
    margin: 0;
    border: 0;
    height: 127px;
    width: 400px;
    border-radius: 6% 6% 6% 6% / 95% 95% 95% 95% ;
    background-color: rgba(0, 179, 196, 1);
    color: #17191e;
    padding: 10px;
    animation: FandeAndGrowSmall 2s;
    box-shadow: 0 10px 6px -6px black;
    transition: 0.3s;
}

    .WelcomeDiv:hover{
        border-radius: 2% 2% 2% 2% / 95% 95% 95% 95%;
    }

    .WelcomeDiv h2{
        font-size: 30px;
    }

    .WelcomeDiv h3{
    font-size: 20px;
    animation: EnterGrowText 2s;
    }

    .WelcomeDiv p{
        font-size: 16px;
        font-family: 'Lobster';
        animation: EnterGrowTextP 2s;
    }

        .Presentations{
            animation: Fade 3s
        }

        .Presentations p{
            font-family: 'Lobster', cursive;
        }

        



@keyframes Fade {
    0%{ opacity: 0;}
    40%{ opacity: 0;}
    100%{opacity: 1;}
}

@keyframes EnterFade{
    from { background-color: rgb(177, 177, 177);}
    to { background-color: rgba(27, 30, 33, 1);}
  }

@keyframes EnterGrowText {
    0% { font-size: 5px;}
    40% {font-size: 5px;}
    100% {font-size: 20px;}
}

@keyframes EnterGrowTextP {
    0% { font-size: 5px;}
    40% {font-size: 5px;}
    100% {font-size: 16px;}
}

@keyframes FandeAndGrowSmall {
    from{ 
        background-color: rgba(27, 30, 33, 0);
    }
    to{
        background-color: rgba(0, 179, 196, 1);
    }

    50% {width: 300px;}
    100% {width: 400px;}
}