@import url(https://fonts.googleapis.com/css?family=Inria+Serif|Lobster&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);


.WelcomePage{
    background-color: rgba(27, 30, 33, 1);
    min-height: 100vh;
    min-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  
    font-family: 'Poppins', sans-serif;

    animation: EnterFade;
    animation-duration: 0.5s;
}


.WelcomeDiv {
    margin: 0;
    border: 0;
    height: 215px;
    width: 400px;
    border-radius: 6% 6% 6% 6% / 95% 95% 95% 95% ;
    background-color: rgb(204, 219, 208);
    color: #17191e;
    padding: 10px;
    animation: FandeAndGrowSmall 2s;
    box-shadow: 0 10px 6px -6px black;
    transition: 0.3s;
}

    .WelcomeDiv:hover{
        border-radius: 2% 2% 2% 2% / 95% 95% 95% 95%;
    }
        .Presentations{
            animation: Fade 3s
        }

        .Presentations h3{
            font-size: 22px;
            font-family: 'Lobster';
            animation: EnterGrowTextH3 2s;
            margin-bottom: 30px;
        }

        .Presentations p {
            margin: 0px;
            padding: 0px;
            font-family: 'Poppins', sans-serif;
            font-size: 13px;
            font-weight: lighter;
            margin-left: 8px;
        }

        .Presentations img {
            width: 16px;
            height: 16px;
            margin-top: 2px;
        }

        .ContactDiv {
            margin: 0 auto;
            margin-bottom: 5px;
            display: flex;
            flex-flow: row;
            margin-left: 80px;

        }

        .Presentations a, a:visited {
            text-decoration: none;
            color: initial;
        }

        



@keyframes Fade {
    0%{ opacity: 0;}
    40%{ opacity: 0;}
    100%{opacity: 1;}
}

@keyframes EnterFade{
    from { background-color: rgb(177, 177, 177);}
    to { background-color: rgba(27, 30, 33, 1);}
  }

@keyframes EnterGrowTextH3 {
    0% { font-size: 5px;}
    40% {font-size: 5px;}
    100% {font-size: 22px;}
}

@keyframes FandeAndGrowSmall {
    from{ 
        background-color: rgba(27, 30, 33, 0);
    }
    to{
        background-color: rgb(204, 219, 208);
    }

    50% {width: 300px;}
    100% {width: 400px;}
}